# Data Cleaning and Normalization

# Definition:
#• Data Cleaning: Data cleaning involves identifying and correcting (or removing) errors and inconsistencies in data to improve its quality. Common tasks include handling missing values, removing duplicates, correcting errors, and ensuring consistency in data formats.
#• Normalization: Normalization is the process of scaling numerical data to a standard range, typically between O and 1 , or transforming it to have a mean of O and a standard deviation of 1, This process helps improve the performance of machine learning algorithms and ensures that all features contribute equally to the result.

#Use Case in Real Life:
#• Preparing Data for Machine Leaming: Handle missing values and remove duplicates to ensure clean data. Normalize features to improve the performance of machine learning algorithms.
#• Financial Data Analysis: Correct errors in transaction data and fill missing values. Normalize financial metrics for comparison across different scales.
#• Customer Data Management: Ensure consistency in customer records and correct erroneous entries. Normalize customer age and income data for segmentation analysis.

In [1]:
import pandas as pd
import numpy as np
#loading the dataset
data=pd.read_csv("C:\Personal Coding\Python, Data Science & Machine Learning Integrated by CipherSchools\Lecture 26\sample_data.csv")
print(data)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

In [5]:
#checking for missing values for every column in the dataset
print(data.isnull().sum())

Name          0
Age           1
Salary        1
Department    0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        8 non-null      object
 1   Age         7 non-null      float64
 2   Salary      7 non-null      float64
 3   Department  8 non-null      object
dtypes: float64(2), object(2)
memory usage: 388.0+ bytes

In [6]:
# Remove rows with any missing values
data_cleaned=data.dropna()  #drops the null value rows from the dataframe
print(data_cleaned)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
2  Charlie  35.0  70000.0  Engineering
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

In [8]:
# Fill missing values with a specific value
data_filled=data.fillna({
    'Age':data['Age'].mean(), #mean of age column
    'Salary':data['Salary'].mean()  #mean of salary column
})
# median, mode can also be used to fill the missing value or even a random value
print(data_filled)

      Name        Age   Salary   Department
0    Alice  25.000000  50000.0           HR
1      Bob  30.000000  70000.0  Engineering
2  Charlie  35.000000  70000.0  Engineering
3    David  38.285714  60000.0           HR
4      Eve  28.000000  80000.0           HR
5    Frank  40.000000  55000.0        Sales
6    Grace  50.000000  85000.0        Sales
7     Hank  60.000000  90000.0        Sales

In [9]:
# Forward fill method to propagate the next values backward
data_ffill=data.fillna(method='ffill')  #if any value is missing, the missing value will be filled by the value present in the above row
print(data_ffill)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0  50000.0  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David  35.0  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

C:\Users\saisa\AppData\Local\Temp\ipykernel_16404\2886906697.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_ffill=data.fillna(method='ffill')

In [10]:
# backward fill method to propagate the previous values forward
data_bfill=data.fillna(method='bfill') #if any value is missing, the missing value will be filled by the value present in the bottom row
print(data_bfill)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0  70000.0  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David  28.0  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

C:\Users\saisa\AppData\Local\Temp\ipykernel_16404\2618874481.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_bfill=data.fillna(method='bfill')

In [12]:
# Add duplicate rows for demonstration
data=pd.concat([data,data.iloc[[0]],data.iloc[[1]]],ignore_index=True)
print("Before removing duplicates:\n",data)
# Remove duplicate rows
data_no_duplicates=data.drop_duplicates()
print('After removing duplicates:\n',data_no_duplicates)

Before removing duplicates:
        Name   Age   Salary   Department
0     Alice  25.0  50000.0           HR
1       Bob  30.0      NaN  Engineering
2   Charlie  35.0  70000.0  Engineering
3     David   NaN  60000.0           HR
4       Eve  28.0  80000.0           HR
5     Frank  40.0  55000.0        Sales
6     Grace  50.0  85000.0        Sales
7      Hank  60.0  90000.0        Sales
8     Alice  25.0  50000.0           HR
9       Bob  30.0      NaN  Engineering
10    Alice  25.0  50000.0           HR
11      Bob  30.0      NaN  Engineering
After removing duplicates:
       Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

In [13]:
# Replace incorrect values in the 'Department' column
data_corrected=data.replace({'Department':{'HR':'Human Resources','Sales':'Sales Department'}})
print(data_corrected)

       Name   Age   Salary        Department
0     Alice  25.0  50000.0   Human Resources
1       Bob  30.0      NaN       Engineering
2   Charlie  35.0  70000.0       Engineering
3     David   NaN  60000.0   Human Resources
4       Eve  28.0  80000.0   Human Resources
5     Frank  40.0  55000.0  Sales Department
6     Grace  50.0  85000.0  Sales Department
7      Hank  60.0  90000.0  Sales Department
8     Alice  25.0  50000.0   Human Resources
9       Bob  30.0      NaN       Engineering
10    Alice  25.0  50000.0   Human Resources
11      Bob  30.0      NaN       Engineering

In [16]:
# Convert all department names to lowercase for consistency
data['Department']=data['Department'].str.lower()
data['Name']=data['Name'].str.lower()
print(data)

       Name   Age   Salary   Department
0     alice  25.0  50000.0           hr
1       bob  30.0      NaN  engineering
2   charlie  35.0  70000.0  engineering
3     david   NaN  60000.0           hr
4       eve  28.0  80000.0           hr
5     frank  40.0  55000.0        sales
6     grace  50.0  85000.0        sales
7      hank  60.0  90000.0        sales
8     alice  25.0  50000.0           hr
9       bob  30.0      NaN  engineering
10    alice  25.0  50000.0           hr
11      bob  30.0      NaN  engineering

Min-Max Normalization
Definition
• Min-max normalization is a technique to rescale the values of a feature to a fixed range, usually [0,1].
• This is done by transforming each value in the feature such that it fits within the specified range

Formula : Lecture 26/Screenshot 2024-08-01 185554.png

In [19]:
# Apply min-max normalization using the formula
data_normalized=data.copy()
for col in ['Age','Salary']:
    data_normalized[col]=(data[col]-data[col].min())/(data[col].max()-data[col].min())
# print original and normalized dataframe
print('Original dataframe: ')
print(data)
print('Normalized dataframe: ')
print(data_normalized)

Original dataframe:
       Name   Age   Salary   Department
0     alice  25.0  50000.0           hr
1       bob  30.0      NaN  engineering
2   charlie  35.0  70000.0  engineering
3     david   NaN  60000.0           hr
4       eve  28.0  80000.0           hr
5     frank  40.0  55000.0        sales
6     grace  50.0  85000.0        sales
7      hank  60.0  90000.0        sales
8     alice  25.0  50000.0           hr
9       bob  30.0      NaN  engineering
10    alice  25.0  50000.0           hr
11      bob  30.0      NaN  engineering
Normalized dataframe:
       Name       Age  Salary   Department
0     alice  0.000000   0.000           hr
1       bob  0.142857     NaN  engineering
2   charlie  0.285714   0.500  engineering
3     david       NaN   0.250           hr
4       eve  0.085714   0.750           hr
5     frank  0.428571   0.125        sales
6     grace  0.714286   0.875        sales
7      hank  1.000000   1.000        sales
8     alice  0.000000   0.000           hr
9       bob  0.142857     NaN  engineering
10    alice  0.000000   0.000           hr
11      bob  0.142857     NaN  engineering